---
// Component Imports
import { TopSection } from "../components/TopSection.tsx"
import { MainContainer } from "../components/MainContainer.tsx"
import { Footer } from "../components/Footer.tsx"
import Layout from "../layouts/main.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="">
  <body>
    <MainContainer>
      <TopSection />
      <Footer />
    </MainContainer>
  </body>
</Layout>
