---
// Component Imports
import Button from "../components/Button.astro"
import { Banner } from "../components/Banner.tsx"
import { LogoWithContainer } from "../components/LogoWithContainer.tsx"
import { TopSection } from "../components/TopSection.tsx"
import { MainContainer } from "../components/MainContainer.tsx"
import { Hero } from "../components/Hero.tsx"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <MainContainer>
      <TopSection />
    </MainContainer>
  </body>
</html>
