---
import { SEO } from "astro-seo"
const { content, title = "" } = Astro.props

console.log(content, "content")
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()
const staticOgImage = new URL("/cwf-og-image.png", Astro.site).toString()
const _title = content?.title || title
const makeTitle = _title
  ? _title + " | " + "Cowork With Friends"
  : "Cowork With Friends - making remote work less lonely"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{makeTitle}</title>

    <SEO
      title={makeTitle}
      description="The best thing you can do for your loneliness"
      canonical={canonicalURL}
      twitter={{
        creator: "@jsjoeio",
        site: "@jsjoeio",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Cowork With Friends - making remote work less lonely`,
          image: staticOgImage,
        },
        image: {
          alt: "Cowork With Friends open graph image",
        },
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
